=begin
#trieve-server

#Trieve REST API OpenAPI Documentation

The version of the OpenAPI document: 0.3.3

Generated by: https://openapi-generator.tech
Generator version: 7.4.0

=end

require 'cgi'

module OpenapiClient
  class EventsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # get_events
    # get_events  Get events for the auth'ed user. Currently, this is only for events belonging to the auth'ed user. Soon, we plan to associate events to datasets instead of users. Each page contains 10 events.
    # @param tr_dataset [String] The dataset id to use for the request
    # @param page [Integer] Page number of events to get
    # @param [Hash] opts the optional parameters
    # @return [EventReturn]
    def get_events(tr_dataset, page, opts = {})
      data, _status_code, _headers = get_events_with_http_info(tr_dataset, page, opts)
      data
    end

    # get_events
    # get_events  Get events for the auth&#39;ed user. Currently, this is only for events belonging to the auth&#39;ed user. Soon, we plan to associate events to datasets instead of users. Each page contains 10 events.
    # @param tr_dataset [String] The dataset id to use for the request
    # @param page [Integer] Page number of events to get
    # @param [Hash] opts the optional parameters
    # @return [Array<(EventReturn, Integer, Hash)>] EventReturn data, response status code and response headers
    def get_events_with_http_info(tr_dataset, page, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EventsApi.get_events ...'
      end
      # verify the required parameter 'tr_dataset' is set
      if @api_client.config.client_side_validation && tr_dataset.nil?
        fail ArgumentError, "Missing the required parameter 'tr_dataset' when calling EventsApi.get_events"
      end
      # verify the required parameter 'page' is set
      if @api_client.config.client_side_validation && page.nil?
        fail ArgumentError, "Missing the required parameter 'page' when calling EventsApi.get_events"
      end
      # resource path
      local_var_path = '/api/events/{page}'.sub('{' + 'page' + '}', CGI.escape(page.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      header_params[:'TR-Dataset'] = tr_dataset

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'EventReturn'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['Cookie', 'ApiKey']

      new_options = opts.merge(
        :operation => :"EventsApi.get_events",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EventsApi#get_events\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
